p {
    color:blue;
    text-align:center;
} 

.bts {
    color:blueviolet;
 background-color: black;
}

#one{
 color: red;
}

#direction{
    color: black;
}

p {
    border-style: dashed;
    border-width: 3px;
    border-color: bisque;
}

h1{ border-top: dotted;
    border-right: solid;
    border-bottom: dotted;
    border-left: solid;
}
