h3 {
    border-style: groove;
    border-color: aqua;
    border-bottom-style: groove;
    border-bottom-color: rgb(146, 37, 197);
    border-left-color: rgb(12, 127, 221);
    border-right-color: rgb(12, 127, 221);
   
}

h1 {
    border-bottom-style: groove;
    border-bottom-color: aqua;
}

p {
    color:blue;
    text-align:center;
} 

.bts {
    color:blueviolet;
 background-color: black;
}

#one{
 color: red;
}

#direction{
    color: black;
}

/*unvisited link*/
a:link{
    color: #FF0000
}

/*visited link*/
a:visited {
    color: #0f0;
}

/*mouse over link*/
 a:hover{
    color: #FF00FF;
 }

 /*selected link*/
 a:active{
    color: #00f;
 }
