p {
    color:blue;
    text-align:center;
} 

.bts {
    color:blueviolet;
 background-color: black;
}

#one{
 color: red;
}

#direction{
    color: black;
}

h1 {
    border-style: dashed;
    border-width: 3px;
    border-color: bisque;
}

h3{ 
    border-color: blueviolet;
    border-width:4px;
    border-style:dotted;
    border-top:solid;
    border-right: solid;
    border-bottom: dotted;
    border-left: solid;
}

.espacamento_25 {
padding: 25px;
}

.margem_20{
    margin: 30px;
}

/*unvisited link*/
a:link{
    color: #FF0000
}

/*visited link*/
a:visited {
    color: #0f0;
}

/*mouse over link*/
 a:hover{
    color: #FF00FF;
 }

 /*selected link*/
 a:active{
    color: #00f;
 }
